
body{
    background:linear-gradient(90deg, rgba(24, 0, 238, 0.555) 70%, rgb(253, 152, 58, 0.555) 100%);
overflow: hidden;
}
h1{
text-align: center;
color:#ffffff;
font-size: 80px;
margin-top:5%; 
}
        
#canvas1{
position: absolute;
top: 25%;
left:20%;
    }

#back{
    position: absolute;
    top:25%;
    left:20%;
}