
body{
    background:linear-gradient(90deg, rgba(255, 218, 54, 1) 0%, rgba(255, 138, 38, 1) 71%);
overflow: hidden;
}
h1{
text-align: center;
color:#ffffff;
font-size: 80px;
margin-top:5%; 
}
        
#canvas1{
position: absolute;
top: 25%;
left:20%;
    }